// Цвета на странице
$white: #ffffff;
$black: #000000;
$light-pink: #fbebea;
$dark-pink: #f50049;
$light-gray: #e8e8e8;
$light-red: #dc2c37;

// Размеры для разных экранов
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

// Отступы для разных экранов
$mobile-padding: 20px;
$tablet-padding: 20px;
$desktop-padding: 73px;

// Для ретиновых дисплеев
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$circe-bold: "Circe Bold", "Arial", sans-serif;
$circe: "Circe", "Arial", sans-serif;
$playfair-bold-italic: "Playfair Display Italic", "Georgia", serif;
$playfair-bold: "Playfair Display", "Georgia", serif;
$intro-script: "Intro Script R H2 Base", "Comic Sans MS", cursive, sans-serif;
